.privacy{
    display: flex;
    flex-direction: row;
    height: 90vh;
    padding: 2.5% 5% 2.5% 10%;
}

.privacy1{
    width: 50%;
}

.privacy1-sub1{
    display: flex;
}

.privacy1-sub1 span{
    color: #D434FE;
    font-family: Clash Display;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.privacy1-sub1 h3{
    color: #FFF;
font-family: Clash Display;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.privacy1-sub1 img{
    position: relative;
    top: -10px;
    left: 10px;
    width: 18px;
height: 18px;
}

.privacy1-sub2{
    display: flex;
    padding: 5px 0;
}

.privacy1-sub2 p{
    color: rgba(255, 255, 255, 0.75);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 17.5px;
}

.privacy1-sub2 img{
    position: relative;
    top: -25px;
    left: 190px;
    width: 18px;
height: 18px;
}

.sub-p{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
padding-bottom: 10px;
font-style: normal;
font-weight: 400;
line-height: 120.4%;
}

.privacy1-sub3{
    width: 400px;
    height: 410px;
border: 1px solid #D434FE;
background: rgba(217, 217, 217, 0.03);
}

.privacy1-sub3-div{
    /* padding: 20px 50px; */
    
}

.privacy1-sub3 p:nth-child(1){
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    padding: 20px 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.2%;
    }

    .privacy1-sub3 p:nth-child(3){
        color: #FFF;
        font-family: Montserrat;
        font-size: 12px;
        padding-top: 10px;
        padding-left: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 150.2%;
        }

    .privacy1-sub3 h2{
        color: #D434FE;
        font-family: Montserrat;
        padding-top: 10px;
        padding-left: 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130.2%;
        }

        .marked {
            display: flex;
            justify-content: space-between;
            /* padding: 5px 0; */
            padding: 10px 5px 10px 30px;
        }

        .marked p{
            color: #FFF;
            font-size: 14px;
            padding-left: 10px;
        }

        .privacy1-sub3-div2{
            text-align: center;
            padding: 15px 0;
        }

        .privacy1-sub3-div2 button{
            background-color: #D434FE;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
        }


/* 2ND ROW */

.privacy2{
    width: 50%;
}

@media screen and (max-width: 600px) {
    .privacy{
        display: block;
        height: auto;
        /* width: 100%; */
        padding: 20px 50px;
    }

    .privacy1{
        width: 100%;
    }

    .privacy2{
        width: 100%;
    }

    .privacy1-sub2 img {
        position: relative;
        top: 45px;
        left: 40px;
        /* width: 18px; */
        /* height: 18px; */
    }

    .privacy1-sub1 {
        display: block;
        text-align: center;
    }

    .privacy1-sub1 h3{
        font-size: 20px;
    }

    .privacy1-sub2 {
        display: block;
        padding: 0px 0;
    }

    .privacy1-sub2 p{
        text-align: center;
    }

    .privacy1-sub3 {
        width: auto;
        height: auto;
    }

    .privacy1-sub1 img {
        position: relative;
        top: -80px;
        left: 80px;
    }

    .privacy1-sub3 p:nth-child(1){
        padding-left: 20px;
    }

    .privacy1-sub3 h2{
        padding-left: 20px;
        font-size: 13px;
    }

    .sub-p{
        padding: 10px 0px;
    }

    .marked{
        padding: 20px;
    }


}