/* Navbar styles */

.nav-body {
    font-family: montserrat;
    /* z-index: 99; */
  }
  
  .navbar {
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    height: 53px;
    /* justify-content: space-between; */
    align-items: center; /* Add this line to vertically center items */
    padding: 0 30px;

  }
  
  .navbar a:not(:nth-child(7)) {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: none;
    padding: 0 20px;
  }

  .navbar a:nth-child(3) {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    /* text-decoration: underline; */
    /* padding: 0 20px; */
    margin-left: 35%;
  }

  .navbar a:nth-child(7) {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: underline;
    /* padding: 0 20px; */
    margin-left: 3%;
  }

  
  
  .btn-nav {
    background-color: rgb(197, 33, 230);
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    /* padding: 0 15px; */
  }
  
  #getlinkedicon {
    height: 30px;
  }
  
  .icon {
    display: none;
    float: right;
    /* padding-top: 30px; */
  }
  
  /* Mobile styles */
  @media screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        padding: 20px 20px;
    }
  
    .navbar a:not(.icon) {
      display: none;
    }

    .icon{
        display: flex;
   
    }
  
    .navbar a.icon {
      display: block; /* Show the toggle button */
      align-self: flex-end; /* Align the button to the right */
      cursor: pointer;
    }
  
    .navbar.responsive {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
        height: 100vh;
        display: block;
        padding-top: 30px;
        z-index: 10;
    }
  
    .navbar.responsive .icon {
      display: block;
    }
  
    .navbar.responsive a {
      float: none;
      display: block;
      font-size: 30px;
      text-align: left;
      padding: 25px; /* Add padding for mobile */
      margin-top: 20px;
    }

    .navbar a:nth-child(3) {
        margin-left: 0;
    }

    .navbar a:nth-child(7) {
        margin-left: 0;
    }
  
    .btn-nav {
        font-size: 18px;
        height: 65px;
        width: 50%;
        font-size: 30px;
        margin: 10px 0;
        padding: 0;
    }
  
    #getlinkedicon {
        padding: 20px 0 0 0;
    }
  }
  