/* Navbar styles */

.nav-body {
    font-family: montserrat;
    /* z-index: 99; */
  }
  
  .navbar {
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    /* height: 53px; */
    /* justify-content: space-between; */
    align-items: center; /* Add this line to vertically center items */
    padding: 10px 30px;

  }

  .active-link:hover{
    color: rgb(197, 33, 230);
  }

  .navbar a:not(:nth-child(7)):hover {
    color: rgb(197, 33, 230);
  }
  
  .navbar a:not(:nth-child(7)) {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: none;
    padding: 0 20px;
  }

  .navbar a:nth-child(3) {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    /* text-decoration: underline; */
    /* padding: 0 20px; */
    margin-left: 35%;
  }

  .navbar a:nth-child(7) {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: underline;
    /* padding: 0 20px; */
    margin-left: 3%;
  }

  
  
  .btn-nav {
    background-color: rgb(197, 33, 230);
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    /* padding: 0 15px; */
  }
  
  #getlinkedicon {
    height: 30px;
  }
  
  .icon {
    display: none;
    float: right;
    /* padding-top: 30px; */
  }
  
  /* Mobile styles */
 /* @media screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        height: auto; 
        padding: 20px 20px;
    }
  
    .navbar a:not(.icon) {
      display: none;
    }

    .icon{
        display: flex;
   
    }
  
    .navbar a.icon {
      display: block;
      align-self: flex-end;
      cursor: pointer;
    }
  
    .navbar.responsive {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
        height: 100vh;
        display: block;
        padding-top: 30px;
        z-index: 10;
    }
  
    .navbar.responsive .icon {
      display: block;
    }
  
    .navbar.responsive a {
      float: none;
      display: block;
      font-size: 30px;
      text-align: left;
      padding: 25px;
      margin-top: 20px;
      animation: fade 0.3s ease;
    }

    @keyframes fade {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

    .navbar a:nth-child(3) {
        margin-left: 0;
    }

    .navbar a:nth-child(7) {
        margin-left: 0;
    }
  
    .btn-nav {
        font-size: 18px;
        height: 65px;
        width: 50%;
        font-size: 30px;
        margin: 10px 0;
        padding: 0;
    }
  
    #getlinkedicon {
        padding: 20px 0 0 0;
    }
  } */


  @media screen and (max-width: 920px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        /* height: 100%;  */
        padding: 20px 20px;
    }
  
    .navbar a:not(.icon) {
      display: none;
    }

    .icon{
        display: block;
        width: 5%;
        margin-top: -5%;   
    }
  
    .navbar a.icon {
      display: block;
      align-self: flex-end;
      cursor: pointer;
    }
  
    .navbar.responsive {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%; 
        display: block;
        padding-top: 50px;
        z-index: 10;
    }
  
    .navbar.responsive .icon {
      display: block;
    }
  
    .navbar.responsive a {
      float: none;
      display: block;
      background-color: #140D27;
      font-size: 30px;
      text-align: left;
      padding: 25px;
      margin-top: 20px;
      animation: dropdown 0.5s ease;
      z-index: 1111;
    }

    @keyframes dropdown {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

    .navbar a:nth-child(3) {
        margin-left: 0;
    }

    .navbar a:nth-child(7) {
        margin-left: 0;
    }
  
    .btn-nav {
        font-size: 18px;
        height: 65px;
        width: 50%;
        font-size: 30px;
        margin: 10px 0;
        padding: 0;
    }
  
    #getlinkedicon {
        padding: 20px 0 0 0;
    }
  }
  